
body {
  background-color: whitesmoke;
  margin: 0px;
}

.playArea {  
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.bar {
  position: relative;
  display: inline-block;
  width: 5px; 
  margin: 10px 1px;
  background-color: darkcyan;
  border-radius: 2px;
}

.header {
  display: flex;
  justify-content: center;
  height:100px;
  align-items: center;
  background-color: darkslateblue;
  margin:0px auto;
  padding: 20px;
}


.button {
  background-color: white; /* Green */
  border: none;
  color:black;
  padding: 20px;
  display: inline-block;
  font-size: 16px;
  margin: 20px;
  transition-duration: 0.4s;
  cursor: pointer;
  border: 3px solid #4CAF50;
  border-radius: 10px;
  outline: none;
  
}

.button:hover {
  background-color: #4CAF50;
  color: white;
}
.button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

